$mainDark: #0e3746;
$mainLight: #eae8dc;
$red: #be2623;

::selection {background: $mainDark !important; color: $mainLight;}


html {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $mainLight;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.06' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: $mainDark;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 3.25rem;
}

footer {
    padding: 0.5rem 0 1.5rem;
    .footer {
        display: flex;
        flex-direction: row;
    }
}

.footer-links {
    margin-left: auto;
}

a, a:visited, a:link {
    color: $mainDark;
    font-weight: 600;
    text-decoration: none;
}

.wrapper {
    max-width: 90%;
    padding: 0 1rem;
    margin: 0 auto;
}

button,
textarea,
input,
select,
label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
}

input {
    width: 100%;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-size: 100%;
    background: none;
    padding: .5rem;
    -webkit-appearance: none;
    outline: none;
    transition: .2s box-shadow ease, .2s padding ease, .2s margin ease;
    &:focus, &:active {
        box-shadow: 0 0 0 2px $mainDark;
    }
}

inputgroup {
    position: relative;
    display: block;
    transition: .2s margin ease;
    margin-top: .5rem;
    &:first-child {
        margin-top: 0;
    }
    &:focus-within label, &.active label{
        opacity: 1;
        top: -0.15rem;
        z-index: initial;
    }
    &.active {
        input {
            box-shadow: 0 0 0 2px $mainDark;
            padding-left: 0.5rem !important;
            margin-top: .5rem;
        }
    }
}

inputgroup label {
    top: 0.535rem;
    opacity: 0;
    left: 1rem;
    z-index: -1;
    padding: 0 .25rem;
    background: $mainLight;
    border-radius: .25rem;
    position: absolute;
    color: $mainDark;
    font-size: .8rem;
    transition: .2s opacity, .2s top;
    transition-timing-function: ease-in-out;
}

// on autofill, label goes to -> background: #e8f0fe;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: none;
  transition: background-color 5000s ease-in-out 0s;
}

label {
    font-size: .9rem;
    color: $mainDark;
    margin-bottom: .25rem;
    display: inline-block;
}

button.input-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem .5rem;
}

button {
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    background: none;
    outline: none;
    -webkit-appearance: none;
    font-size: 100%;
    /* font-size: 1rem; */
}


.btn {
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
    padding: .75rem 1.25rem;
    border-radius: 2rem;
}

.btn.btn-primary {
    background: $mainDark;
    color: $mainLight;
}


section {
    width: 100%;
    padding: 1rem 0;
    position: relative;
}

.page-header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
    align-items: center;
    text-align: center;
    .page-title {
        margin-bottom: 2rem;
        h1 {
            margin-bottom: 1rem;
        }
    }
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    li {
        button {
            font-weight: 500;
            padding: 0.5rem 1rem;
        }
        &.nav-trigger {
            display: none;
        }

        &.active {
            button {
            //    background: #f8f6ef;
            color: $mainLight;
            background-color: $mainDark;
            border-bottom: 2px solid $mainDark;
            }
        }
        &.today {
            button {
                color: $mainDark;
                box-shadow: none;
                background: #f8f6ef;
                border: 1px solid $mainDark;
                border-bottom-width: 2px;
            }
        }
    }
    &.nav-left {
        text-align: right;
    }
    &.nav-right {
        text-align: left;
    }
}

ul.task-list {
    list-style: none;
    margin: 0.5rem 0;
    padding: .5rem 0 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.25);
    li {
        border-radius: .5rem;
        background: rgba(255, 255, 255, 0.1);
        padding: .5rem 0;
        .time {
            text-transform: uppercase;
            font-weight: 700;
            font-size: .7rem;
            margin: 0 0 0.5rem;
            display: block;
            color: rgba(0, 0, 0, 0.25);
        }
        &.important {
            //background: #f8f6ef;
            padding: 0.75rem 0.5rem;
            margin: 0.5rem 0 0 -0.5rem;
            border: 1px dashed rgba(0, 0, 0, 0.2);
            margin-bottom: .5rem;
        }
        &.upcoming {
            background: #f8f6ef;
            padding: 0.5rem;
            margin: 0.5rem 0 0 -0.5rem;
            border: 1px solid $mainDark;
            border-bottom-width: 2px;
        }
    }
}

.grid {
    display: grid;
    grid-gap: 1px;
    background-color: $mainDark;
    border-top: 3px solid $mainDark;
    border-bottom: 3px solid $mainDark;
    .grid-day {
        padding: 1rem 1rem 2rem;
        background-color: $mainLight;
        position: relative;
        transition: .2s background-color ease;
        &.grid-header {

        }
        .day {
            display: flex;
            font-weight: 500;
            .date {
                color: rgba(0, 0, 0, 0.25);
                margin-left: .45rem;
                margin-top: 1.5px;
            }
        }
        &:last-child {
            background-color: $mainLight;
        }
        &:hover {
            background-color: #f0eee5;
            inputgroup {
                label {
                    background-color: #f0eee5;
                }
            }
        }
        &.today {
            .day {
                font-weight: 800;
                .tag {
                    margin-left: auto;
                    margin-bottom: -0.55rem;
                }
            }
        }
        inputgroup {


            input {
                padding-left: 0;
                &:active, &:focus {
                    padding-left: 0.5rem;
                    margin-top: .5rem;
                }
            }
        }
    }
}


.week-grid {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: minmax(18rem, max-content) minmax(18rem, max-content);
}
.month-grid {
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: minmax(3rem, max-content) minmax(8rem, max-content) minmax(8rem, max-content) minmax(8rem, max-content) minmax(8rem, max-content);
    .grid-day {
        font-size: .8rem;
        &.today {
            .day {
                display: initial;
                padding: .25rem .5rem;
                text-align: center;
                border-radius: 100%;
                color: #eae8dc;
                background: #0e3746;
            }
        }
    }
    .grid-header {
        justify-content: left;
        padding: 1rem;
        .day {
            font-weight: 700;
        }
    }
}

.tag {
    border-radius: .5rem;
    border: 1px solid $mainDark;
    border-bottom-width: 2px;
    padding: .35rem;
    font-size: .7rem;
    text-transform: uppercase;
}
.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    background: $mainLight;
    padding: 1rem 2rem 2rem;
    border-radius: .5rem;
}


@media (print) {
    body {
        background-color: white;
        background-image: none;
    }
    h1 {
        font-size: 2.25rem;
    }
}

@media (max-width: 1100px) {
    .page-header {
        grid-template-columns: initial;
    }
}

@media (max-width: 600px) {
    .page-header {
        grid-template-columns: auto;
        .page-title {
            margin-bottom: 0;
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    ul.nav {
        grid-template-columns: auto;
        li {
            display: none;
        }
        li.nav-trigger {
            display: inherit;
            padding: 1rem;
        }
    }
    .week-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        .week-day {
            &:last-child {
                display: none;
            }
        }
    }
    footer {
        text-align: center;
        padding: 1rem 0 2rem;
    }
}
